<%- include ../partials/header %> <%- include ../partials/categories-navbar %>


<style>
  .design {
    width: 100%;
    height: 85vh;
    background-image: url(https://www.imghippo.com/images/1701697762.png);
    background-repeat: repeat;
    background-size: 268px;
    filter: brightness(90%);
    backdrop-filter: blur(20%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h1 {
    font-size: 50px;
    font-weight: bolder;
  }
  h3 {
    font-size: 24px;
    font-weight: bold;
  }
  p {
    font-size: 18px;
    font-weight: 300;
    text-indent: 45px;
    margin-left: 7vh;
    margin-right: 7vh;
  }
  .container{
    background: rgba(255, 255, 255, .80);
  box-shadow: 0 8px 32px 0 #e0ddc5;
  backdrop-filter: blur( 6px ) saturate(180%);
  -webkit-backdrop-filter: blur( 6px );
  border-radius: 30px;
  height: 350px;

  }

</style>
<div class="design">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-12 m-auto text-justify">
        <h1 class="mt-4 mb-5 text-center">About Us</h1>
        <p>
          Kape-Kapehan is a coffee manufacturing company that provides its
          customers with premium coffee made with local coffee beans. Our
          business offers multiple products ranging from coffee products to
          coffee-making tools and utensils. a coffee manufacturing company with a range of products,
          is significant for several reasons. It offers a user-friendly online shopping experience for customers,
          enhancing accessibility to Kape-Kapehan's range of premium coffee and coffee-making utensils.
        </p>
      </div>
    </div>
  </div>
</div>

<%- include ../partials/footer %>
